.Feed{
    display: inline;
    flex-direction: column;
    padding-right: 20px;
}

.scrap{
    position: relative;
    right: 30px;
    bottom: 10px;
}

.Rectangle{
    width: 268px;
    height: 268px;
    border-radius: 10px;
}